@model BookStore.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = null; 
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
           <img class="img-thumbnail"style="width:100px;" src="@Html.DisplayFor(model => model.ImageUrl) "/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.Name)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary" onclick="ShowPopUp('@Url.Action("Edit" , "Book",null, Context.Request.Scheme )' +'/' + @Model.Id, 'Edit')">
        Edit
    </button> 
    <button onclick="ClosePopUp()" class="btn btn-primary">Back to List</button>
</div>
