@model BookStore.Models.Author

@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary" onclick="ShowPopUp('@Url.Action("Edit", "Author",null, Context.Request.Scheme )' + '/' + @Model.Id, 'Edit @Model.Name ')">
        Edit
    </button>
    <button class="btn btn-primary" onclick="ClosePopUp()"> Back To List</button>
</div>
